@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$mainFont : 'Poppins', sans-serif;
$accent : #C23B22;
$accentFade : #FFF7F5;
$bgGray : #F6F6F6;
$warn : #FFE2DC;

$leftSidebarWidth : 285px;
$rightSidebarWidth : 330px;
$sidebarToggleWidth : 33px;
